<form [formGroup]="usersForm" (ngSubmit)="saveForm()">
  <div>
    <div><label for="userName">User Name</label></div>
    <input type="text" id="userName" name="name" formControlName="name" />
    <hr />
  </div>


  <button (click)="addCity()">Add City</button>
  <div formArrayName="cities">
    <div *ngFor="let cityItem of usersForm.get('cities').controls; let num = index;">
      <div [formGroupName]="num" style="margin-top: 10px;">
        <div>
          <b>city id -  {{ cityItem.value.id }}:</b> -
          <button type="button" (click)="removeCity(cityItem)">Remove</button>
        </div>
        <input type="text" name="city" formControlName="city" />

        <div style="margin-top: 20px;">
          <button (click)="addAddress(cityItem.controls.nested)">Add address</button>
        </div>

        <div formArrayName="nested" style="margin-left: 50px">
          <div *ngFor="let address of cityItem.get('nested').controls; let j = index;">
            <div [formGroupName]="j">
              <label>Address Line - <b>{{ address.value.address }}</b></label><br />
              <input type="text" name="addressLine" formControlName="address" />
              <button type="button" (click)="removeAddress(cityItem.controls.nested, address.value)">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <hr style="border: 1px solid blue; margin: 15px 0;" />
    </div>
  </div>

  <div style="margin-top: 20px;">
    <button type="submit">Save</button>
  </div>
</form>


<div style="margin-top: 50px;">
  <pre>
    {{ usersForm.value | json }}
  </pre>
</div>
