<!--<app-nested-form></app-nested-form>-->

<!--<app-dynamic-form-->
<!--  [fields]="regConfig"></app-dynamic-form>-->

<!--<div style="margin-top: 40px;">-->
<!--  <pre>-->
<!--    {{ form.value | json }}-->
<!--  </pre>-->
<!--</div>-->

<app-phones-list
  [phones]="phones"
  (phoneDataToEdit)="openDialogEditPhone($event)"
></app-phones-list>

<div *ngIf="fancy">
  <h4>{{ fancy.name }}</h4>
  <button
    mat-raised-button
    color="primary"
    (click)="openDialogEditFancy(fancy)">Edit</button>
</div>

<router-outlet></router-outlet>
